@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

.App {
  width: 100%;
  height: 100vh;
}
.base-contain {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 1390px)  {
    padding: 0 60px;
  }
  @media (min-width: 1280px)  {
    padding: 0 40px;
  }
  @media (min-width: 1024px)  {
    padding: 0 40px;
  }
  @media (min-width: 768px)  {
    padding: 0 20px;
  }
  @media (min-width: 680px)  {
    padding: 0 60px;
  }
}

.news__main__title {
  width: 198px;
  height: 26px;
  text-align: left;
  font: italic normal normal 20px/26px 'Lora';
  letter-spacing: 0px;
  color: #E2B13C;
  opacity: 1;
  margin: 0;

  @media (min-width: 375px) and (max-width:768px) {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.news__sub__title {
  width: 175px;
  height: 46px;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Source Sans Pro';
  font-style: normal;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}

.news__items {
  width: 100%;
  height: 100%;
  margin: 50px 0;
  @media (min-width: 375px) and (max-width:768px) {
    width: 100%;
    height: 100%;
  }
}

.news__item {
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  margin: 25px 0;
  @media (min-width: 375px)and (max-width:768px) {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}


.news__images {
  padding: 8px;
  background: #323232;
  clip-path: polygon(0 0, 100% 7%, 100% 90%, 0% 100%);
  @media (min-width: 375px) and (max-width:768px) {
    clip-path: none;
    padding: 0;
    background-color: #E2B13C;
  }
}

.news__images>img {
  padding: 0;
  margin: 0;
  width: 512px;
  height: 306px;
  clip-path: polygon(0 0, 100% 7%, 100% 90%, 0% 100%);
  @media (min-width: 375px) and (max-width:768px) {
    width: 375px;
    height: 306px;
    clip-path: none;
  }
}

.news__descriptions {
  width: 500px;
 @media (min-width: 375px) and (max-width:768px) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.news__description__info {
  width: 777px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  transform: translateX(-21px);
  @media (min-width: 375px)and (max-width:768px)  {
    width: 96.1%;
    margin-left: 8px;
    transform: none;
  }
}

.icon {
  color: #E2B13C;
  margin-right: 7px;
  @media (min-width: 375px)and (max-width:768px)  {
    color: #E2B13C;
    margin-top: -2px;
  }
}
.news__description__timestamp {
  height: 22px;
  width: 634px;
  color: #E2B13C;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (min-width: 375px) and (max-width:768px) {
    width: 100%;
    color: #E2B13C;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }
}

.news__description__timestamp h4 {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro';
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 375px)and (max-width:768px)  {
    width: auto;
    height: 30px;
    text-align: left;
    font-size: 12px;
  }
}

.news__location {
  width: auto;
  @media (min-width: 375px) and (max-width:768px) {
    overflow: hidden;
    position: absolute;
    top: 310px;
    left: 45px;
    text-align: left;
    font-size: 14px;
  }
}

/* 16 */
.news__location__icon {
  width: 20px;
  height: 20px;
  @media (min-width: 375px) {
    width: 17px;
    height: 17px;
  }
}


.news__description {
  width: 634px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: 'Lora', serif;

  @media (min-width: 375px) and (max-width:768px) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    padding-top: 20px;
    width: 100%;
  }
}

.news__description__time {
  position: absolute;
  right: -336px;
  top: 62px;
  width: 80px;
  height: 80px;
  background-color: #E2B13C;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  @media (min-width: 375px)and (max-width:768px)  {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #E2B13C;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
  }
}

.news__date {
  width: 50%;
  height: 20px;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  margin: 10px 0 0 16px;
  padding: 0;
  @media (min-width: 375px)and (max-width:768px)  {
    width: 50%;
    height: 17px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    margin: 5px 0 0 16px;
    padding: 0;
  }
}

.news__month {
  width: 100%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  padding: 0;
  @media (min-width: 375px) and (max-width:768px) {
    width: 100%;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
  }
}



@media (min-width: 1366px) {
  /* lg 1024*/
}

@media (min-width: 1024px) {

  /* md 768*/
}

@media (min-width: 768px) {
  /* sm 680-375 */
}

@media (min-width: 680px) {
  /* xs */
}