@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

.App {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 0;
}

.news__main__title {
  width: 198px;
  height: 26px;
  text-align: left;
  font: italic normal normal 20px/26px 'Lora';
  letter-spacing: 0px;
  color: #E2B13C;
  opacity: 1;
  margin: 0;
}

.news__sub__title {
  width: 175px;
  height: 46px;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Source Sans Pro';
  font-style: normal;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}

.news__items {
  width: 100%;
  height: 100%;
  margin: 50px 0;
}

.news__item {
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  margin: 25px 0;
}


.news__images {
  padding: 8px;
  background: #323232;
  clip-path: polygon(0 0, 100% 7%, 100% 90%, 0% 100%);
}

.news__images>img {
  padding: 0;
  margin: 0;
  width: 512px;
  height: 306px;
  clip-path: polygon(0 0, 100% 7%, 100% 90%, 0% 100%);
}

.news__descriptions {
  width: 500px;
}

.icon {
  color: #E2B13C;
  margin-right: 7px;
}

.news__description__info {
  width: 777px;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  transform: translateX(-21px);
}

.news__info {
  height: 22px;
  width: 634px;
  color: #E2B13C;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.news__info h4 {
  height: 22px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro';
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.news__location {
  width: auto;
}

/* 16 */
.news__location__icon {
  width: 20px;
  height: 20px;
}

.news__description {
  width: 634px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: 'Lora', serif;
}

.news__time {
  position: absolute;
  right: -336px;
  top: 62px;
  width: 80px;
  height: 80px;
  background-color: #E2B13C;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.news__date {
  width: 50%;
  height: 20px;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  margin: 10px 0 0 16px;
  padding: 0;
}

.news__month {
  width: 100%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 390px) and (max-width:797px) {
  .news__main__title {
    margin-top: 20px;
    margin-left: 10px;

  }

  .news__items {
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
  }

  .news__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: #E2B13C; */

  }

  .news__images {
    clip-path: none;
    padding: 0;
  }

  .news__images>img {
    width: 390px;
    height: 306px;
    clip-path: none;
  }

  .news__descriptions {
    width: 100%;
    /* background-color: red; */
    padding: 0;
    margin: 0;
  }

  .news__description__info {
    width: 100%;
    background-color: #323232;
    transform: none;
  }

  .news__description {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    padding-top: 20px;
    width: 100%;
  }

  .news__info {
    /* height: 30px; */
    width: 100%;
    color: #E2B13C;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }

  .news__info>h4 {
    width: auto;
    height: 30px;
    text-align: left;
    font-size: 12px;

    /* border: 1px solid black; */
  }

  .news__location {
    overflow: hidden;
    position: absolute;
    top: 310px;
    left: 38px;
    text-align: left;
    font-size: 14px;
  }

  .news__location__icon {
    width: 17px;
    height: 17px;
  }

  .icon {
    color: #E2B13C;
    margin-top: -2px;
  }

  .news__time {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #E2B13C;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
  }

  .news__date {
    width: 50%;
    height: 17px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    margin: 5px 0 0 16px;
    padding: 0;
  }

  .news__month {
    width: 100%;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
  }

}


@media (min-width: 1366px) {
  /* lg 1024*/
}

@media (min-width: 1024px) {

  /* md 768*/
}

@media (min-width: 768px) {
  /* sm 680-375 */
}

@media (min-width: 680px) {
  /* xs */
}